<md-sidenav-container fullscreen>
  <md-sidenav #sidenav [mode]="isLtSm?'over':'side'" [opened]="!isLtSm" align="end" >
    <div style="width: 350px; height: 100%; background: lightgray">
      LALALAL
    </div>
  </md-sidenav>
  <md-toolbar color="accent">
    <a href="#/"><img src="favicon.ico" style="width: 50px" /> </a>BoM <i class="fa fa-chevron-right"></i> {{recipe?.name}}
    <div  style="flex: 1 1 auto"></div>
    <div>
      
    </div>
    <div id="my-signin2"></div>
    <!--<button md-button (click)="save()">Guardar</button>-->
  </md-toolbar>
  <md-progress-bar style="position: absolute;z-index: 10000;" mode="indeterminate" *ngIf="progress!==0" [value]="progress"></md-progress-bar>
  <md-card>
    <md-card-content>
      <bom-recipe-general [recipe]="recipe" *ngIf="recipe"></bom-recipe-general>
      <div style="margin-top: 1em">
        <bom-recipe-grains [recipe]="recipe" *ngIf="recipe"></bom-recipe-grains>
      </div>
      <div style="margin-top: 2em">
        <bom-recipe-hops [recipe]="recipe" *ngIf="recipe"></bom-recipe-hops>
      </div>
    </md-card-content>
  </md-card>
</md-sidenav-container>
