<!--<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="over" opened="true" >
    Menu
  </md-sidenav>-->
  <md-toolbar color="accent">
    <!--<i class="fa fa-beer" style="font-size: 34px;margin-right: 0.5em;"></i> {{title}} -->
    <img src="favicon.ico" style="width: 55px"/> {{title}}
    <div  style="flex: 1 1 auto"></div>
    <div id="my-signin2"></div>
  </md-toolbar>
  <!--<bom-recipe-view></bom-recipe-view>-->
  <!--<bom-recipes-list></bom-recipes-list>-->
  <router-outlet></router-outlet>
<!--
</md-sidenav-container>-->