<!--<md-card>
  <md-card-header>
    <md-card-title>GRANOS</md-card-title>
  </md-card-header>
  <md-card-content>-->
    <h3>Fermentables</h3>
    <md-list>
      <md-list-item *ngFor="let fermentable of editable.recipe.fermentables">
          
          <div md-line>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
              <img src="assets/images/barley.svg" height="25px"/>
              <md-input-container [fxFlex]="'1 1.3'">
                <input mdInput placeholder="Nombre" [(ngModel)]="fermentable.name" (change)="editable.change('fermentable.name')">
              </md-input-container>
              <md-input-container [fxFlex]="'1 1'">
                <input mdInput placeholder="Extracto" type="number" step="0.001" [(ngModel)]="fermentable.potential" (change)="editable.change('fermentable.potential')">
              </md-input-container>
              <md-input-container [fxFlex]="'1 1'">
                <input mdInput placeholder="Color" type="number" step="0.5" [(ngModel)]="fermentable.srm" (change)="editable.change('fermentable.srm')">
              </md-input-container>
              <!--<md-input-container [fxFlex]="'1 1'">
                <input mdInput placeholder="Porcentaje" type="number" disabled [value]="0">
              </md-input-container>-->
              <md-input-container [fxFlex]="'1 1'">
                <input mdInput placeholder="Kg" type="number" step="0.1" [(ngModel)]="fermentable.amount" (change)="editable.change('fermentable.amount')">
              </md-input-container>
              <md-select placeholder="Uso" [(ngModel)]="fermentable.use" >
                <md-option *ngFor="let use of uses" [value]="use">
                  {{ use }}
                </md-option>
              </md-select>
            </div>
          </div>
      </md-list-item>
    </md-list>
    <b>Total: </b>{{editable.recipe.amoutFermentables | number:'1.3-3'}} Kg
  <!--</md-card-content>
</md-card>-->
